<html>
  <head>
    <title>zenweb grid fail</title>
  </head>
  <body>
    <div style="width:800px;margin: 50px auto;">
      <h3 style="border-bottom: 2px solid #eee;padding:1rem 0;">发生错误</h3>
      <p>{{fail.message}}</p>
      <p style="color:#aaa;font-size:0.75rem;border-top: 2px solid #eee;padding: 1rem 0;">CODE // {{fail.code}}</p>
    </div>
  </body>
</html>