{% from "zenweb/form/macro.html.njk" import formFields -%}

{% macro gridStyle() %}
<style>
.zengrid {
  display: flex;
  gap: 1rem;
}

.zengrid-filter {
  flex-basis: 200px;
  background-color: #eee;
  padding: 0.5rem;
}
.zengrid-filter form {
  margin: 0;
}
.zengrid-filter-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.zengrid-data {
  flex-basis: 100%;
}

.zengrid-table {
  border: 2px solid #c8c8c8;
  border-collapse: collapse;
  letter-spacing: 1px;
  width: 100%;
}
.zengrid-table th,
.zengrid-table td {
  padding: 5px 10px;
  border: 1px solid #bebebe;
  text-align: center;
}
.zengrid-table thead tr {
  background-color: #ebebeb;
}
.zengrid-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.zengrid-table tbody tr:hover {
  background-color: #eee;
}
.zengrid-table tbody tr td.zengrid-table-empty {
  text-align: center;
  padding: 2rem 0.5rem;
  color: #999;
}

.zengrid-page {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.zengrid-page-current {
  margin: 0 10px;
}
</style>
{% endmacro %}

{% macro gridScript(allow_external=true) %}
{% endmacro %}

{% macro gridAttrs(attrs) %}
  {%- if attrs -%}
    {%- for k, v in attrs|dictsort %} {{k}}="{{v|escape}}"{% endfor -%}
  {%- endif -%}
{% endmacro %}

{% macro gridElement(els) -%}
  {%- for e in els -%}
    {%- if e.type -%}
      <{{e.type}}{{gridAttrs(e.attrs)}}>{{gridElement(e.children)}}</{{e.type}}>
    {%- else -%}
      {{e}}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro %}

{% macro gridTable(grid) -%}
  <table class="zengrid-table">
    <thead>
      <tr>
      {% for c in grid.head -%}
        <{{c.type}}{{gridAttrs(c.attrs)}}>
          {%- if c.sortable -%}
            {%- if grid.page.order == '-' + c.key -%}
              <a href="?{{grid.query|assign({order: c.key})|urlencode}}">{{c.label}} ▼</a>
            {%- elif grid.page.order == c.key -%}
              <a href="?{{grid.query|assign({order: undefined})|urlencode}}">{{c.label}} ▲</a>
            {%- else -%}
              <a href="?{{grid.query|assign({order: '-' + c.key})|urlencode}}">{{c.label}}</a>
            {%- endif -%}
          {%- else -%}
            {{c.label}}{{gridElement(c.children)}}
          {%- endif -%}
        </{{c.type}}>
      {% endfor -%}
      </tr>
    </thead>
    <tbody>
    {% for _dataRow in grid.data -%}
      {%- set _rowEl = grid.rowElement[loop.index0] -%}
      {%- set _dataElRow = grid.dataElement[loop.index0] -%}
      <tr{% if _rowEl %}{{gridAttrs(_rowEl.attrs)}}{% endif %}>
        {%- for _col in grid.head -%}
          {%- set _data = _dataRow[_col.key] -%}
          {%- set _el = _dataElRow[_col.key] -%}
          {%- if _el -%}
            {%- if _el|isarray -%}
              <td>{{_data}}{{gridElement(_el)}}</td>
            {%- else -%}
              <{{_el.type}}{{gridAttrs(_el.attrs)}}>{{_data}}{{gridElement(_el.children)}}</{{_el.type}}>
            {%- endif -%}
          {%- else -%}
            <td>{{_data}}</td>
          {%- endif -%}
        {%- endfor -%}
      </tr>
    {% else %}
      <tr>
        <td colspan="{{grid.head|length}}" class="zengrid-table-empty">- 无结果 -</td>
      </tr>
    {% endfor -%}
    </tbody>
  </table>
{%- endmacro %}

{% macro gridPage(grid) -%}
  <div class="zengrid-page">
    <div class="zengrid-page-limit">
      {% for i in [10, 20, 50, 100] -%}
        {% if i == grid.page.limit -%}
          <b>{{i}}</b>
        {% elseif i <= grid.page.maxLimit -%}
          <a href="?{{grid.query|assign({limit: i, offset: grid.page.offset, page: undefined})|urlencode}}">{{i}}</a>
        {% endif %}
       {%- endfor %} 条/页
    </div>
    <div class="zengrid-page-total">共 {{grid.page.total}} 条</div>
    <div class="zengrid-page-operate">
      {%- if grid.page.page <= 1 -%}
        <span>第一页</span>
        <span>上一页</span>
      {%- else -%}
        <a href="?{{grid.query|assign({offset: undefined, page: 1})|urlencode}}">第一页</a>
        <a href="?{{grid.query|assign({offset: undefined, page: grid.page.page - 1})|urlencode}}">上一页</a>
      {%- endif -%}
      <span class="zengrid-page-current">{{grid.page.page}} / {{grid.page.pages}} 页</span>
      {%- if grid.page.page >= grid.page.pages -%}
        <span>下一页</span>
        <span>最后页</span>
      {%- else -%}
        <a href="?{{grid.query|assign({offset: undefined, page: grid.page.page + 1})|urlencode}}">下一页</a>
        <a href="?{{grid.query|assign({offset: undefined, page: grid.page.pages})|urlencode}}">最后页</a>
      {%- endif -%}
    </div>
  </div>
{%- endmacro %}

{% macro gridFilter(grid) %}
  <div class="zengrid-filter">
    <form>
      <input type="hidden" name="limit" value="{{grid.page.limit}}" />
      {{formFields(grid.filterForm, grid.filterInput)}}
      <div class="zengrid-filter-footer">
        {% if grid.filterData %}
          <a href="?limit={{grid.page.limit}}">取消过滤</a>
        {% endif %}
        <button type="submit">过滤</button>
      </div>
    </form>
  </div>
{% endmacro %}

{% macro gridRender(grid) -%}
  <div class="zengrid">
    {%- if grid.filterForm %}
      {{gridFilter(grid)}}
    {% endif -%}
    <div class="zengrid-data">
      {{gridTable(grid)}}
      {{gridPage(grid)}}
    </div>
  </div>
{%- endmacro %}
