{% from "zenweb/form/macro.html.njk" import formFields -%}

{% macro gridStyle() %}
{% endmacro %}

{% macro gridScript(allow_external=true) %}
{% endmacro %}

{% macro gridAttrs(attrs) %}
  {%- if attrs -%}
    {%- for k, v in attrs|dictsort %} {{k}}="{{v|escape}}"{% endfor -%}
  {%- endif -%}
{% endmacro %}

{% macro gridElement(els) -%}
  {%- for e in els -%}
    {%- if e.type -%}
      <{{e.type}}{{gridAttrs(e.attrs)}}>{{gridElement(e.children)}}</{{e.type}}>
    {%- else -%}
      {{e}}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro %}

{% macro gridTable(grid) -%}
  <table class="table table-hover">
    <thead>
      <tr>
      {% for c in grid.head -%}
        <{{c.type}}{{gridAttrs(c.attrs)}}>
          {%- if c.sortable -%}
            {%- if grid.page.order == '-' + c.key -%}
              <a href="?{{grid.query|assign({order: c.key})|urlencode}}">{{c.label}} ▼</a>
            {%- elif grid.page.order == c.key -%}
              <a href="?{{grid.query|assign({order: undefined})|urlencode}}">{{c.label}} ▲</a>
            {%- else -%}
              <a href="?{{grid.query|assign({order: '-' + c.key})|urlencode}}">{{c.label}}</a>
            {%- endif -%}
          {%- else -%}
            {{c.label}}{{gridElement(c.children)}}
          {%- endif -%}
        </{{c.type}}>
      {% endfor -%}
      </tr>
    </thead>
    <tbody>
    {% for _dataRow in grid.data -%}
      {%- set _rowEl = grid.rowElement[loop.index0] -%}
      {%- set _dataElRow = grid.dataElement[loop.index0] -%}
      <tr{% if _rowEl %}{{gridAttrs(_rowEl.attrs)}}{% endif %}>
        {%- for _col in grid.head -%}
          {%- set _el = _dataRow[_col.key + '@el'] -%}
          {%- if _el -%}
            {%- if _el|isarray -%}
              <td>{{gridElement(_el)}}</td>
            {%- else -%}
              <{{_el.type}}{{gridAttrs(_el.attrs)}}>{{gridElement(_el.children)}}</{{_el.type}}>
            {%- endif -%}
          {%- else -%}
            <td>{{_dataRow[_col.key]}}</td>
          {%- endif -%}
        {%- endfor -%}
      </tr>
    {% else %}
      <tr>
        <td colspan="{{grid.head|length}}" class="text-center p-3">- 无结果 -</td>
      </tr>
    {% endfor -%}
    </tbody>
  </table>
{%- endmacro %}

{% macro gridPage(grid) -%}
  <div class="d-flex justify-content-between align-items-baseline">
    <div class="dropdown">
      <a class="btn dropdown-toggle" data-bs-toggle="dropdown">
        {{ grid.page.limit }} 条/页
      </a>
      <ul class="dropdown-menu">
      {% for i in [10, 20, 50, 100] -%}
        <li><a class="dropdown-item" href="?{{grid.query|assign({limit: i, offset: grid.page.offset, page: undefined})|urlencode}}">{{i}}</a></li>
      {%- endfor %}
      </ul>
    </div>
    <div>共 {{grid.page.total}} 条</div>
    <ul class="pagination">
      {%- if grid.page.page <= 1 -%}
        <li class="page-item disabled"><a class="page-link">第一页</a></li>
        <li class="page-item disabled"><a class="page-link">上一页</a></li>
      {%- else -%}
        <li class="page-item"><a class="page-link" href="?{{grid.query|assign({offset: undefined, page: 1})|urlencode}}">第一页</a></li>
        <li class="page-item"><a class="page-link" href="?{{grid.query|assign({offset: undefined, page: grid.page.page - 1})|urlencode}}">上一页</a></li>
      {%- endif -%}
      <li class="page-item disabled"><a class="page-link">{{grid.page.page}} / {{grid.page.pages}} 页</a></li>
      {%- if grid.page.page >= grid.page.pages -%}
        <li class="page-item disabled"><a class="page-link">下一页</a></li>
        <li class="page-item disabled"><a class="page-link">最后页</a></li>
      {%- else -%}
        <li class="page-item"><a class="page-link" href="?{{grid.query|assign({offset: undefined, page: grid.page.page + 1})|urlencode}}">下一页</a></li>
        <li class="page-item"><a class="page-link" href="?{{grid.query|assign({offset: undefined, page: grid.page.pages})|urlencode}}">最后页</a></li>
      {%- endif -%}
    </ul>
  </div>
{%- endmacro %}

{% macro gridFilter(grid) %}
  <form>
    <input type="hidden" name="limit" value="{{grid.page.limit}}" />
    {{formFields(grid.filterForm, grid.filterInput, grid.filterErrors)}}
    <div class="zengrid-filter-footer">
      {% if grid.filterData %}
        <a class="btn btn-secondary" href="?limit={{grid.page.limit}}">取消过滤</a>
      {% endif %}
      <button type="submit" class="btn btn-primary">过滤</button>
    </div>
  </form>
{% endmacro %}

{% macro gridRender(grid) -%}
  <div class="row">
    {%- if grid.filterForm %}
    <div class="col-2">
      {{gridFilter(grid)}}
    </div>
    {% endif -%}
    <div class="col">
      {{gridTable(grid)}}
      {{gridPage(grid)}}
    </div>
  </div>
{%- endmacro %}
